<?xml version="1.0"?>
<config>
   <sections>
        <payment>
            <groups>
                <pagantis translate="label" module="pagantis">
                    <label>Pagantis</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <frontend_model>pagantis/adminhtml_LogoField</frontend_model>
                    <fields>
                        <active translate="label">
                            <label>Module Enabled</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>pagantis/YesNo</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <pagantis_public_key translate="label">
                            <label>Public API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>02</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pagantis_public_key>
                        <pagantis_private_key translate="label">
                            <label>Private API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>03</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pagantis_private_key>
                        <pagantis_simulator_is_enabled translate="label">
                            <label>Simulator Enabled</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>pagantis/YesNo</source_model>
                            <sort_order>04</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pagantis_simulator_is_enabled>
                    </fields>
                </pagantis>
            </groups>
        </payment>
    </sections>
</config>
