<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <pagantis translate="label" module="pagantis">
                    <label>Pagantis</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <frontend_model>pagantis/adminhtml_LogoField</frontend_model>
                    <fields>
                        <active translate="label">
                            <label>Module Enabled</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>pagantis/YesNo</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <pagantis_api_region translate="label">
                            <label>API Region</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>pagantis/ApiRegion</source_model>
                            <sort_order>02</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pagantis_api_region>
                        <pagantis_merchant_id translate="label">
                            <label>Merchant Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>03</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pagantis_merchant_id>
                        <pagantis_secret_key translate="label">
                            <label>Private API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>04</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pagantis_secret_key>
                        <pagantis_environment translate="label">
                            <label>Environment</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>pagantis/Environment</source_model>
                            <sort_order>05</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pagantis_environment>
                        <pagantis_min_amount translate="label">
                            <label>Min Payment Limit</label>
                            <frontend_model>pagantis/adminhtml_FieldDisabled</frontend_model>
                            <frontend_type>text</frontend_type>
                            <disabled>1</disabled>
                            <sort_order>06</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pagantis_min_amount>
                        <pagantis_max_amount translate="label">
                            <label>Max Payment Limit</label>
                            <frontend_model>pagantis/adminhtml_FieldDisabled</frontend_model>
                            <frontend_type>text</frontend_type>
                            <disabled>1</disabled>
                            <sort_order>07</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pagantis_max_amount>
                        <pagantis_exclude_category translate="label">
                            <label>Exclude Category</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>pagantis/Categories</source_model>
                            <sort_order>08</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pagantis_exclude_category>
                    </fields>
                </pagantis>
            </groups>
        </payment>
    </sections>
</config>
