<?xml version="1.0"?>
<config>

    <modules>
        <DigitalOrigin_Pmt>
            <version>7.0.0</version>
        </DigitalOrigin_Pmt>
    </modules>

    <global>

        <events>
            <sales_order_place_after>
                <observers>
                    <DigitalOrigin_Pmt>
                        <class>pmt/observer</class>
                        <method>cancelPendingOrders</method>
                    </DigitalOrigin_Pmt>
                </observers>
            </sales_order_place_after>
        </events>

        <helpers>
            <pmt>
                <class>DigitalOrigin_Pmt_Helper</class>
            </pmt>
        </helpers>

        <blocks>
            <pmt>
                <class>DigitalOrigin_Pmt_Block</class>
            </pmt>
        </blocks>

        <models>
            <pmt>
                <class>DigitalOrigin_Pmt_Model</class>
                <resourceModel>pmt_resource</resourceModel>
            </pmt>

            <pmt_resource>
            <class>DigitalOrigin_Pmt_Model_Resource</class>
            <entities>
                <log>
                    <table>pmt_logs</table>
                </log>
                <order>
                    <table>pmt_orders</table>
                </order>
                <concurrency>
                    <table>pmt_cart_concurrency</table>
                </concurrency>
            </entities>
        </pmt_resource>
        </models>

        <resources>
            <pmt_setup>
                <setup>
                    <module>DigitalOrigin_Pmt</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pmt_setup>
            <pmt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pmt_write>
            <pmt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pmt_read>
        </resources>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <DigitalOrigin_Pmt>
                    <files>
                        <default>DigitalOrigin_Pmt.csv</default>
                    </files>
                </DigitalOrigin_Pmt>
            </modules>
        </translate>
        <layout>
            <updates>
                <bar>
                    <file>pmt.xml</file>
                </bar>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <pmt>
                <use>standard</use>
                <args>
                    <module>DigitalOrigin_Pmt</module>
                    <frontName>pmt</frontName>
                </args>
            </pmt>
        </routers>
        <layout>
            <updates>
                <pmt>
                    <file>pmt.xml</file>
                </pmt>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <paylater translate="title" module="pmt">
                <active>1</active>
                <title>Paga + tarde</title>
                <model>pmt/paylater</model>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <PAYLATER_PROD>0</PAYLATER_PROD>
                <PAYLATER_PRODUCT_HOOK_TYPE>1</PAYLATER_PRODUCT_HOOK_TYPE>
                <PAYLATER_CHECKOUT_HOOK_TYPE>1</PAYLATER_CHECKOUT_HOOK_TYPE>
                <DEFAULT_INSTALLMENTS>3</DEFAULT_INSTALLMENTS>
                <MAX_INSTALLMENTS>12</MAX_INSTALLMENTS>
                <MIN_AMOUNT>1</MIN_AMOUNT>
                <PAYLATER_TITLE>Instant financing - 100% online</PAYLATER_TITLE>
                <sort_order>1</sort_order>
                <PAYLATER_KO_URL>checkout/cart/</PAYLATER_KO_URL>
                <PAYLATER_OK_URL>checkout/onepage/success/</PAYLATER_OK_URL>
            </paylater>
        </payment>
    </default>

</config>
