<?xml version="1.0"?>
<config>

    <modules>
        <DigitalOrigin_Pmt>
            <version>6.0.2</version>
        </DigitalOrigin_Pmt>
    </modules>

    <global>

        <helpers>
            <pmt>
                <class>DigitalOrigin_Pmt_Helper</class>
            </pmt>
        </helpers>

        <blocks>
            <pmt>
                <class>DigitalOrigin_Pmt_Block</class>
            </pmt>
        </blocks>

        <models>
            <pmt>
                <class>DigitalOrigin_Pmt_Model</class>
            </pmt>
        </models>

        <resources>
            <payment_custom_setup>
                <setup>
                    <module>DigitalOrigin_Pmt</module>
                </setup>
            </payment_custom_setup>
        </resources>

        <events>
            <resource_get_tablename>
                <observers>
                    <autoloader>
                        <type>singleton</type>
                        <class>pmt/observer</class>
                        <method>addAutoloader</method>
                    </autoloader>
                </observers>
            </resource_get_tablename>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <DigitalOrigin_Pmt>
                    <files>
                        <default>DigitalOrigin_Pmt.csv</default>
                    </files>
                </DigitalOrigin_Pmt>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <pmt>
                <use>standard</use>
                <args>
                    <module>DigitalOrigin_Pmt</module>
                    <frontName>pmt</frontName>
                </args>
            </pmt>
        </routers>
        <layout>
            <updates>
                <pmt>
                    <file>pmt.xml</file>
                </pmt>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <paylater translate="title" module="pmt">
                <active>1</active>
                <title>Financiar con Paga+Tarde</title>
                <model>pmt/paylater</model>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <PAYLATER_PROD>0</PAYLATER_PROD>
                <PAYLATER_PRODUCT_HOOK_TYPE>1</PAYLATER_PRODUCT_HOOK_TYPE>
                <PAYLATER_CHECKOUT_HOOK_TYPE>1</PAYLATER_CHECKOUT_HOOK_TYPE>
                <PAYLATER_PROMOTION_EXTRA>Promoción: fináncialo SIN intereses</PAYLATER_PROMOTION_EXTRA>
                <MIN_AMOUNT>10</MIN_AMOUNT>
                <ORDER>1</ORDER>
            </paylater>
        </payment>
    </default>

</config>
